*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.app{
    min-height: 100vh;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.todo-app{
    width: 100%;
    max-width: 400px;
    border: 3px solid rgba(225, 225, 225, 0.185);
    min-height: 300px;
    transition: all 1s ease;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 0 50px white;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    backdrop-filter: blur(10px) ;
}
h1{
    font-size: 2rem;
}

.stats{
    border: 3px solid rgba(225, 225, 225, 0.185);
    padding: 5px;
    width: 100%;
    display: flex;
}
.form{
    width: 100%;
    /* border: 2px solid; */
}
.form-group{
    width: 100%;
    display: flex;

    gap: 10px;
}
.form-group input{
    flex-grow: 1;
    padding: 10px 15px ;
    background-color: rgba(225, 225, 225, 0.185) ;
    outline: none;
    border-radius: 30px;
    color: white;
}
.form-group input::placeholder{
    color: grey;
}
.form-group button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(225, 225, 225, 0.185) ;
    color: white;
}

.task-con{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.task-con ul{
    width: 100%;
}
.list-item{
    padding: 10px 15px ;
    background-color: rgba(225, 225, 225, 0.185) ;
    border-radius: 30px;
    list-style: none;
    display: flex;
    gap: 5px;
}
.list-item span{
    flex-grow: 1;
}
.action{
    border: 1px solid darkblue;
    display: flex;
    gap: 5px;
}
.action button{
    padding: 2px;
    border-radius: 20%;
}